<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.acaia.androidupdater">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- For blue tooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For accessing Storage -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- For accessing Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- For accessing Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="co.acaia.acaiaupdater.AcaiaUpdater"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="co.acaia.acaiaupdater.ui.ConnectScaleWithAppActivity" />


        <activity android:name="co.acaia.acaiaupdater.view.FirmwareUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            ></activity>
        <activity android:name="co.acaia.acaiaupdater.view.FirmwareSelectListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            ></activity>
        <activity
            android:name="co.acaia.acaiaupdater.view.ManualTroubleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="co.acaia.acaiaupdater.view.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.view.deviceList.UpdateFirmwareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.view.ConnectScaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.view.FirmwareSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.view.MainDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.acaia.acaiaupdater.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name="co.acaia.acaiaupdater.SettingScanScaleListActivity"
            android:label="SettingScanScaleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name="co.acaia.communications.scaleService.ScaleCommunicationService"
            android:enabled="true" />

        <activity
            android:name="co.acaia.acaiaupdater.util.ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.CheckFirmwareActivity"
            android:label="@string/title_activity_check_firmware"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.FirmwareUpdateActivity"
            android:label="@string/title_activity_firmware_update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.TroubleShootingActivity"
            android:label="@string/title_activity_trouble_shooting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.StartFirmwareUpdate"
            android:label="@string/title_activity_start_firmware_update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.SelectFirmwareFromListActivity"
            android:label="@string/title_activity_select_firmware_from_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="co.acaia.acaiaupdater.ui.SelectFirmwareActivity"
            android:label="@string/title_activity_select_firmware"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>